@import "tailwindcss";

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: theme("colors.neutral.900");
    padding: 20px;
    border-radius: 10px; /* bg-neutral-800 */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: theme("colors.neutral.600"); /* bg-neutral-600 */
    border-radius: 9999px;

    border: 2px solid theme("colors.neutral.800");
  }

  .scrollbar1::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

.scrollbar1::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar1::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 9999px;
}

.scrollbar1::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}

@media (min-width: 768px) {
  .scrollbar1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
}

@media (max-width: 480px) {
  .scrollbar1::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
}


